In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Open csv file into DataFrame
reviews_df = pd.read_csv("Resources/vine_table.csv")

In [3]:
reviews_df.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RY01SAV7HZ8QO,4,0,0,N,Y
1,R1XX8SDGJ4MZ4L,5,0,0,N,N
2,R149Q3B5L33NN5,5,0,0,N,Y
3,R2ZVD69Z6KPJ4O,1,0,2,N,Y
4,R1DIKG2G33ZLNP,4,0,0,N,Y
5,R3L6FGKAW0EYFI,1,1,1,N,N
6,RAO0QZH5VC6VI,1,0,0,N,Y
7,R25IK0UAHWNB22,3,0,0,N,Y
8,R2A9IHKZMTMAL1,5,1,2,N,Y
9,R5XVKTHL6SITI,5,0,0,N,Y
10,R2QZZOSTDDY1IE,3,3,6,N,Y
11,R38CUDCFPSNYTD,5,0,0,N,Y
12,RM6ZR6NH052YH,3,1,2,N,Y
13,RUQK5N4WH8UN8,5,0,0,N,Y
14,R21LWSBQWWJYZ3,5,0,0,N,Y
15,R8W5S53RQ2DF7,5,0,0,N,Y
16,R3ENME3JQBWXZS,5,0,1,N,Y
17,R3URL5K7DHHYK7,5,1,1,N,Y
18,R22YISZKS35YZX,5,2,3,N,Y
19,R3IIOLWHWC297U,5,0,0,N,Y

In [4]:
reviews_df.isna().sum()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [5]:
reviews_df.describe

<bound method NDFrame.describe of              review_id  star_rating  helpful_votes  total_votes vine  \
0        RY01SAV7HZ8QO            4              0            0    N
1       R1XX8SDGJ4MZ4L            5              0            0    N
2       R149Q3B5L33NN5            5              0            0    N
3       R2ZVD69Z6KPJ4O            1              0            2    N
4       R1DIKG2G33ZLNP            4              0            0    N
...                ...          ...            ...          ...  ...
705884    RERAIXJ91MJD            5              0            0    N
705885  R1RDKIWUZQM7GJ            5              0            0    N
705886  R21FKOCDP1WD2S            4              0            0    N
705887  R1QCR0Q06G5NZF            3              2           21    N
705888   RVV912AL3TXDP            5              1            1    N

       verified_purchase
0                      Y
1                      N
2                      Y
3                      Y
4                      Y
...                  ...
705884                 N
705885                 N
705886                 N
705887                 N
705888                 N

[705889 rows x 6 columns]>

In [6]:
# D2-1.
select_reviews_df = reviews_df[reviews_df["total_votes"] >= 20]

select_reviews_df.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
36,R1VCSDR38XTALJ,1,33,40,N,N
189,R1KMC6B2JRCZ3D,3,42,47,N,N
190,R1LV778IDGRJQ6,1,4,23,N,Y
222,RBZE8H6SHVYWW,3,77,110,N,N
368,R2LBEAGVJA7HK1,3,5,48,N,N
420,R3UN4H3BW9YTQA,5,358,388,N,Y
429,R2YKRQ8R3B2Q3,5,30,35,N,N
493,R1K00VBT0SMD4Z,1,50,60,N,Y
517,R3QLX5NODD1OJ4,1,9,25,N,Y
533,R2SOOHE0XUQON1,1,2,24,N,N
547,R2I9AO0VEBYJES,4,47,57,N,Y
636,R27EECVZ426CQ5,1,3,25,N,N
658,R3Q7YJX1I5PDMU,3,22,22,N,Y
679,RJQQO26UPW1PI,5,76,96,N,Y
712,R2QJI05ZY7DNSR,4,59,73,N,N
745,R2MBLFKV5JFTKE,1,80,89,N,N
746,R1YYR1SP2TS30L,1,55,70,N,Y
770,R2DYKW0X2B93QG,2,50,63,N,Y
776,R14QWM0LJO6313,5,24,28,N,Y
841,R19H4AKN005KL8,5,19,28,N,Y

In [7]:
# D2-2.
helpful_reviews_df = select_reviews_df[
    (select_reviews_df["helpful_votes"] / select_reviews_df["total_votes"]) >= 0.5 ]

helpful_reviews_df.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
36,R1VCSDR38XTALJ,1,33,40,N,N
189,R1KMC6B2JRCZ3D,3,42,47,N,N
222,RBZE8H6SHVYWW,3,77,110,N,N
420,R3UN4H3BW9YTQA,5,358,388,N,Y
429,R2YKRQ8R3B2Q3,5,30,35,N,N
493,R1K00VBT0SMD4Z,1,50,60,N,Y
547,R2I9AO0VEBYJES,4,47,57,N,Y
658,R3Q7YJX1I5PDMU,3,22,22,N,Y
679,RJQQO26UPW1PI,5,76,96,N,Y
712,R2QJI05ZY7DNSR,4,59,73,N,N
745,R2MBLFKV5JFTKE,1,80,89,N,N
746,R1YYR1SP2TS30L,1,55,70,N,Y
770,R2DYKW0X2B93QG,2,50,63,N,Y
776,R14QWM0LJO6313,5,24,28,N,Y
841,R19H4AKN005KL8,5,19,28,N,Y
888,R27MJ6EZADWWPX,5,34,37,N,Y
974,RXZ3Q8ZGMVQ40,1,19,30,N,Y
986,R2GFDC3KTYASPJ,5,94,118,N,Y
1145,R288AJX5OK9K4Q,1,46,63,N,Y
1228,R25PC9R5T29WSK,5,21,23,N,Y

In [8]:
helpful_reviews_df.describe

<bound method NDFrame.describe of              review_id  star_rating  helpful_votes  total_votes vine  \
36      R1VCSDR38XTALJ            1             33           40    N
189     R1KMC6B2JRCZ3D            3             42           47    N
222      RBZE8H6SHVYWW            3             77          110    N
420     R3UN4H3BW9YTQA            5            358          388    N
429      R2YKRQ8R3B2Q3            5             30           35    N
...                ...          ...            ...          ...  ...
705834  R36M104UOY2KXC            5             20           26    N
705839  R30RTJOFY20EXZ            2             51           59    N
705842  R3M646A6GS49CA            5             27           29    N
705859   R43PXU4ZN2AL1            1             10           20    N
705878   RJ3B6LDE2HP5J            5             29           30    N

       verified_purchase
36                     N
189                    N
222                    N
420                    Y
429                    N
...                  ...
705834                 N
705839                 N
705842                 N
705859                 N
705878                 N

[24301 rows x 6 columns]>

In [9]:
# D2-3.
vine_helpful_df = helpful_reviews_df[helpful_reviews_df["vine"] == "Y"]

vine_helpful_df.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2359,R3LLICBKRHLRJC,4,17,22,Y,N
4451,RUD135S06DEVE,5,41,51,Y,N
5075,R2WG8UL4SGDPDH,4,23,25,Y,N
5083,R158AOKOA28WS2,4,18,28,Y,N
5223,RGWV3QLJQXU9X,5,332,380,Y,N
8079,RD0E1RZSSYGGN,5,261,292,Y,N
15810,R3LGCTQH5ZMGO0,5,61,68,Y,N
19106,R2H24YTRLARCZJ,4,277,297,Y,N
19274,RYYTC9JTG7WPW,5,107,134,Y,N
21590,RTB8H4YQYTLY3,4,58,62,Y,N
24949,RMQYIMBVK7T8R,5,29,36,Y,N
25123,R9KIBRBGB1M6W,5,26,33,Y,N
26210,R122J9QGFCZTR0,5,324,342,Y,N
26543,R2QIEBCHDXA2CW,4,55,64,Y,N
26622,R1KG6E0W0Q5YCQ,5,27,32,Y,N
27660,R3B6CGFNVWRWJ0,5,15,23,Y,N
28729,RR66J5S5D8ZUP,5,25,33,Y,N
30910,R3UC7TCOGT73CJ,3,33,41,Y,N
31082,R32UKGZUYVA2S,2,64,77,Y,N
36147,R1G2OXP36OPF40,5,20,22,Y,N

In [10]:
# D2-4.
unpaid_helpful_df = helpful_reviews_df[helpful_reviews_df["vine"] == "N"]

unpaid_helpful_df.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
36,R1VCSDR38XTALJ,1,33,40,N,N
189,R1KMC6B2JRCZ3D,3,42,47,N,N
222,RBZE8H6SHVYWW,3,77,110,N,N
420,R3UN4H3BW9YTQA,5,358,388,N,Y
429,R2YKRQ8R3B2Q3,5,30,35,N,N
493,R1K00VBT0SMD4Z,1,50,60,N,Y
547,R2I9AO0VEBYJES,4,47,57,N,Y
658,R3Q7YJX1I5PDMU,3,22,22,N,Y
679,RJQQO26UPW1PI,5,76,96,N,Y
712,R2QJI05ZY7DNSR,4,59,73,N,N
745,R2MBLFKV5JFTKE,1,80,89,N,N
746,R1YYR1SP2TS30L,1,55,70,N,Y
770,R2DYKW0X2B93QG,2,50,63,N,Y
776,R14QWM0LJO6313,5,24,28,N,Y
841,R19H4AKN005KL8,5,19,28,N,Y
888,R27MJ6EZADWWPX,5,34,37,N,Y
974,RXZ3Q8ZGMVQ40,1,19,30,N,Y
986,R2GFDC3KTYASPJ,5,94,118,N,Y
1145,R288AJX5OK9K4Q,1,46,63,N,Y
1228,R25PC9R5T29WSK,5,21,23,N,Y

In [11]:
test_df = vine_helpful_df[vine_helpful_df["verified_purchase"] == "Y"]

test_df.head(20)

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [12]:
all_test_df = reviews_df[(reviews_df["vine"] == "Y") & (reviews_df["verified_purchase"] == "Y")]

all_test_df.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
458176,R23TW24MB7AIQN,5,2,3,Y,Y
461234,R8UFI5FF0Y2JX,4,1,1,Y,Y
513475,R2Y00CM85935L3,3,3,4,Y,Y
519412,R35WOCWOTHV4C9,5,1,3,Y,Y
544284,R2MW9XYQF8I0A2,5,2,3,Y,Y
568540,R2ZP65CQOM4IKL,4,3,3,Y,Y
619160,RR6Y6EBX2EXYN,5,4,5,Y,Y

In [13]:
helpful_reviews_df.count()

review_id            24301
star_rating          24301
helpful_votes        24301
total_votes          24301
vine                 24301
verified_purchase    24301
dtype: int64

In [14]:
# D2-5. (Selected Helpful Review Data)

# ------ Determine review totals and percentages
total_helpful_reviews = helpful_reviews_df["review_id"].count()
total_helpful_vine_reviews = vine_helpful_df["review_id"].count()
total_helpful_unpaid_reviews = unpaid_helpful_df["review_id"].count()

percent_helpful_that_were_vine = 100 * (total_helpful_vine_reviews / total_helpful_reviews)
percent_helpful_that_were_unpaid = 100 * (total_helpful_unpaid_reviews / total_helpful_reviews)

# ------ Determine (helpful) five-star review totals and percentages
five_star_helpful_reviews = helpful_reviews_df[helpful_reviews_df["star_rating"] == 5]["review_id"].count()
five_star_vine_reviews = vine_helpful_df[vine_helpful_df["star_rating"] == 5]["review_id"].count()
five_star_unpaid_reviews = unpaid_helpful_df[unpaid_helpful_df["star_rating"] == 5]["review_id"].count()

percent_five_star_that_were_vine = 100 * (five_star_vine_reviews / five_star_helpful_reviews)
percent_five_star_that_were_unpaid = 100 * (five_star_unpaid_reviews / five_star_helpful_reviews)

percent_vine_that_were_5star = 100 * (five_star_vine_reviews / total_helpful_vine_reviews)
percent_unpaid_that_were_5star = 100 * (five_star_unpaid_reviews / total_helpful_unpaid_reviews)

percent_helpful_that_were_5star = 100 * (five_star_helpful_reviews / total_helpful_reviews)

# ======
print(f"Of {total_helpful_reviews:,} reviews noted (D2-2) as being helpful:\n" +
      f"{total_helpful_vine_reviews:,} ({percent_helpful_that_were_vine:.2f}%) were paid 'Vine' reviews, the others " +
      f"({total_helpful_unpaid_reviews:,}; {percent_helpful_that_were_unpaid:.2f}%) being unpaid.")

# print(f"\n")

print(f"\nFor the {five_star_helpful_reviews:,} 5-star helpful reviews considered:\n" +
      f"{five_star_vine_reviews:,} ({percent_five_star_that_were_vine:.2f}%) were 'Vine' reviews; " +
      f"{five_star_unpaid_reviews:,} ({percent_five_star_that_were_unpaid:.2f}%) unpaid.")

print(f"\n\t       Summary of Selected Helpful Reviews" +
      f"\n================================================================\n" +
      f"\t\t\tTotal Number\tNumber 5-Star\t% 5-Star\n" +
      f"\t\t\t------------\t-------------\t--------\n" +
      f"Paid ('Vine') Reviews\t\t{total_helpful_vine_reviews:,}\t\t {five_star_vine_reviews:,}\t  {percent_vine_that_were_5star:.2f}\n" +
      f"Unpaid Reviews\t\t     {total_helpful_unpaid_reviews:,}\t      {five_star_unpaid_reviews:,}\t  {percent_unpaid_that_were_5star:.2f}\n" +
      f"\t\t\t     ------\t      ------\n" +
      f"\tGrand Total\t     {total_helpful_reviews:,}\t      {five_star_helpful_reviews:,}\t  {percent_helpful_that_were_5star:.2f}")

Of 24,301 reviews noted (D2-2) as being helpful:
261 (1.07%) were paid 'Vine' reviews, the others (24,040; 98.93%) being unpaid.

For the 11,005 5-star helpful reviews considered:
106 (0.96%) were 'Vine' reviews; 10,899 (99.04%) unpaid.

	       Summary of Selected Helpful Reviews
================================================================
			Total Number	Number 5-Star	% 5-Star
			------------	-------------	--------
Paid ('Vine') Reviews		261		 106	  40.61
Unpaid Reviews		     24,040	      10,899	  45.34
			     ------	      ------
	Grand Total	     24,301	      11,005	  45.29

In [15]:
# (Full review data)

# ------ Determine overall review totals and percentages
total_overall_reviews = reviews_df["review_id"].count()
total_overall_vine_reviews = reviews_df[reviews_df["vine"] == "Y"]["review_id"].count()
total_overall_unpaid_reviews = reviews_df[reviews_df["vine"] == "N"]["review_id"].count()

percent_overall_that_were_vine = 100 * (total_overall_vine_reviews / total_overall_reviews)
percent_overall_that_were_unpaid = 100 * (total_overall_unpaid_reviews / total_overall_reviews)

# ------ Determine overall five-star review totals and percentages
five_star_overall_reviews = reviews_df[reviews_df["star_rating"] == 5]["review_id"].count()
five_star_overall_vine_reviews = reviews_df[(reviews_df["star_rating"] == 5) & (reviews_df["vine"] == "Y")]["review_id"].count()
five_star_overall_unpaid_reviews = reviews_df[(reviews_df["star_rating"] == 5) & (reviews_df["vine"] == "N")]["review_id"].count()

percent_five_star_overall_that_were_vine = 100 * (five_star_overall_vine_reviews / five_star_overall_reviews)
percent_five_star_overall_that_were_unpaid = 100 * (five_star_overall_unpaid_reviews / five_star_overall_reviews)

percent_overall_vine_that_were_5star = 100 * (five_star_overall_vine_reviews / total_overall_vine_reviews)
percent_overall_unpaid_that_were_5star = 100 * (five_star_overall_unpaid_reviews / total_overall_unpaid_reviews)

percent_overall_that_were_5star = 100 * (five_star_overall_reviews / total_overall_reviews)

# ======
print(f"Of {total_overall_reviews:,} reviews in the data set:\n" +
      f"{total_overall_vine_reviews:,} ({percent_overall_that_were_vine:.2f}%) were paid 'Vine' reviews, the others " +
      f"({total_overall_unpaid_reviews:,}; {percent_overall_that_were_unpaid:.2f}%) being unpaid.")

# print(f"\n")

print(f"\nFor the {five_star_overall_reviews:,} 5-star reviews:\n" +
      f"{five_star_overall_vine_reviews:,} ({percent_five_star_overall_that_were_vine:.2f}%) were 'Vine' reviews; " +
      f"{five_star_overall_unpaid_reviews:,} ({percent_five_star_overall_that_were_unpaid:.2f}%) unpaid.")

print(f"\n\t             Data Set Review Summary" +
      f"\n================================================================\n" +
      f"\t\t\tTotal Number\tNumber 5-Star\t% 5-Star\n" +
      f"\t\t\t------------\t-------------\t--------\n" +
      f"Paid ('Vine') Reviews\t       {total_overall_vine_reviews:,}\t\t  {five_star_overall_vine_reviews:,}\t  {percent_overall_vine_that_were_5star:.2f}\n" +
      f"Unpaid Reviews\t\t     {total_overall_unpaid_reviews:,}\t      {five_star_overall_unpaid_reviews:,}\t  {percent_overall_unpaid_that_were_5star:.2f}\n" +
      f"\t\t\t     -------\t      -------\n" +
      f"\tGrand Total\t     {total_overall_reviews:,}\t      {five_star_overall_reviews:,}\t  {percent_overall_that_were_5star:.2f}")

Of 705,889 reviews in the data set:
2,106 (0.30%) were paid 'Vine' reviews, the others (703,783; 99.70%) being unpaid.

For the 373,988 5-star reviews:
854 (0.23%) were 'Vine' reviews; 373,134 (99.77%) unpaid.

	             Data Set Review Summary
================================================================
			Total Number	Number 5-Star	% 5-Star
			------------	-------------	--------
Paid ('Vine') Reviews	       2,106		  854	  40.55
Unpaid Reviews		     703,783	      373,134	  53.02
			     -------	      -------
	Grand Total	     705,889	      373,988	  52.98

In [16]:
vine_helpful_df.describe()

       star_rating  helpful_votes  total_votes
count   261.000000     261.000000   261.000000
mean      4.107280      75.172414    84.501916
std       0.954738     136.242251   144.851851
min       1.000000      14.000000    20.000000
25%       4.000000      23.000000    29.000000
50%       4.000000      38.000000    43.000000
75%       5.000000      71.000000    80.000000
max       5.000000    1751.000000  1861.000000

In [17]:
unpaid_helpful_df.describe()

        star_rating  helpful_votes   total_votes
count  24040.000000   24040.000000  24040.000000
mean       3.612146      64.773211     71.953577
std        1.582456     191.871531    204.090065
min        1.000000      10.000000     20.000000
25%        2.000000      21.000000     25.000000
50%        4.000000      31.000000     35.000000
75%        5.000000      55.000000     61.000000
max        5.000000   10020.000000  10462.000000

In [18]:
reviews_df.isna().sum()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [19]:
reviews_df.describe()

         star_rating  helpful_votes    total_votes
count  705889.000000  705889.000000  705889.000000
mean        3.902123       3.612317       4.700150
std         1.455102      37.447380      40.339042
min         1.000000       0.000000       0.000000
25%         3.000000       0.000000       0.000000
50%         5.000000       0.000000       1.000000
75%         5.000000       2.000000       3.000000
max         5.000000   10020.000000   10462.000000

In [20]:
reviews_df[reviews_df["vine"] == "Y"].describe()

       star_rating  helpful_votes  total_votes
count  2106.000000    2106.000000  2106.000000
mean      4.073599      11.934948    14.463438
std       0.986270      53.570847    57.495817
min       1.000000       0.000000     0.000000
25%       4.000000       1.000000     1.000000
50%       4.000000       2.000000     4.000000
75%       5.000000       7.000000    10.000000
max       5.000000    1751.000000  1861.000000

In [21]:
reviews_df[reviews_df["vine"] == "N"].describe()

         star_rating  helpful_votes    total_votes
count  703783.000000  703783.000000  703783.000000
mean        3.901610       3.587413       4.670934
std         1.456248      37.385973      40.273243
min         1.000000       0.000000       0.000000
25%         3.000000       0.000000       0.000000
50%         5.000000       0.000000       1.000000
75%         5.000000       2.000000       3.000000
max         5.000000   10020.000000   10462.000000